.popup__submit {
  background-color: black;
  font-family: "Inter", serif, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
  height: 50px;
  width: calc(100% - 72px);
  border-radius: 2px;
  padding: 0;
  border: none;
  margin: 0px 36px 37px;
  cursor: pointer;
}
.popup__submit:hover {
  opacity: 0.8;
}
@media screen and (max-width: 720px) {
  .popup__submit {
    width: calc(100% - 44px);
    height: 46px;
    margin: 0px 22px 25px;
    font-size: 14px;
    line-height: 17px;
  }
}
